%nav.db.dt-ns.w-100.border-box.pa3.ph5-m.mw9-ns.center
  = link_to root_path, class: "db dtc-ns v-mid link w-100 w-25-ns tc tl-ns mb2 mb0-ns b f3 f6-m dib mr3" do
    %i.fa.fa-leaf

  .db.dtc-ns.v-mid.w-100.w-75-ns.tc.tr-ns
    = link_to "Docs", "#", class: "link shadow-hover dark-gray f3 f4-ns f6-m dib mr3 mr3-ns bg-purple white small-caps br2 ph3 pv2"
    = link_to "Pricing", page_path("pricing"), class: "link shadow-hover dark-gray f3 f4-ns f6-m dib mr3 mr3-ns bg-purple white small-caps br2 ph3 pv2"
    = link_to "About", page_path("about"), class: "link shadow-hover dark-gray f3 f4-ns f6-m dib bg-purple white small-caps br2 ph3 pv2"
